# COUNTRY BASED BENFORD'S ANALYSIS OF COVID-19 DATASET

# Abstract


Benford's Law (also known as Newcomb - Benford's Law) is a numerical data analysis of the frequency distribution of leading digits in many datasets. Benford's law predicts the distribution of first digits, second digits, third digits, combinations of digits, etc. Benford's law is applied, among other applications, for the identification of manipulated data, the detection of fraud and the identification of false data. This study attempts to analyze country based COVID-19 data and to find out the level of compliance of data with the Benford's Law. European Centre for Disease Prevention and Control data on the geographic distribution of COVID-19 cases worldwide is used as a dynamic data source.

# 1) Libraries

## 1.1) Import the Benford module

In [1]:
!pip install benford_py --user
import benford as bf

Requirement already satisfied: benford_py in c:\users\j\appdata\roaming\python\python37\site-packages (0.2.7)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from benford_py) (1.0.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from benford_py) (1.18.1)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from benford_py) (3.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->benford_py) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->benford_py) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->benford_py) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->benford_py) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->benford_py) (2.4.6)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->benford_py) (1.14.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->benford_py) (45.2.0.post20200210)

## 1.2) Import some libraries

In [2]:
import numpy as np
import pandas as pd
import sys
import math
import matplotlib.pyplot as plt
from time import process_time
from collections import defaultdict

In [3]:
# Here we change the display option of pandas. 
pd.options.display.max_rows = 200
pd.options.display.max_columns = None

# 2) Read the data

In [4]:
covid_data_all = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv", dayfirst=True, parse_dates=True)

In [5]:
covid_data_all

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,09/08/2020,9,8,2020,39,5,Afghanistan,AF,AFG,38041757.0,Asia,2.357935
1,08/08/2020,8,8,2020,78,9,Afghanistan,AF,AFG,38041757.0,Asia,2.573488
2,07/08/2020,7,8,2020,41,0,Afghanistan,AF,AFG,38041757.0,Asia,2.652349
3,06/08/2020,6,8,2020,67,4,Afghanistan,AF,AFG,38041757.0,Asia,2.578745
4,05/08/2020,5,8,2020,82,6,Afghanistan,AF,AFG,38041757.0,Asia,2.896817
...,...,...,...,...,...,...,...,...,...,...,...,...
35144,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35145,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35146,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35147,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35148,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

# 3) Rename the columns

In [6]:
covid_data_all.rename(columns={'dateRep':'date','countriesAndTerritories':'country', 'countryterritoryCode':'country_code', 'popData2019':'population_2019', 'continentExp':'continent', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000':'cum_case_perht'}, inplace=True)

In [7]:
covid_data_all.columns.sort_values()

Index(['cases', 'continent', 'country', 'country_code', 'cum_case_perht',
       'date', 'day', 'deaths', 'geoId', 'month', 'population_2019', 'year'],
      dtype='object')

In [8]:
covid_data_all.head()

,date,day,month,year,cases,deaths,country,geoId,country_code,population_2019,continent,cum_case_perht
0,09/08/2020,9,8,2020,39,5,Afghanistan,AF,AFG,38041757.0,Asia,2.357935
1,08/08/2020,8,8,2020,78,9,Afghanistan,AF,AFG,38041757.0,Asia,2.573488
2,07/08/2020,7,8,2020,41,0,Afghanistan,AF,AFG,38041757.0,Asia,2.652349
3,06/08/2020,6,8,2020,67,4,Afghanistan,AF,AFG,38041757.0,Asia,2.578745
4,05/08/2020,5,8,2020,82,6,Afghanistan,AF,AFG,38041757.0,Asia,2.896817

In [9]:
covid_data_all.tail()

,date,day,month,year,cases,deaths,country,geoId,country_code,population_2019,continent,cum_case_perht
35144,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35145,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35146,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35147,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
35148,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [10]:
covid_data_all.describe()

,day,month,year,cases,deaths,population_2019,cum_case_perht
count,35149.000000,35149.000000,35149.000000,35149.000000,35149.000000,3.508500e+04,32368.000000
mean,15.650317,4.925574,2019.998094,558.310165,20.682039,4.437888e+07,26.562097
std,8.970579,1.881439,0.043619,3495.782751,123.568938,1.615866e+08,65.259535
min,1.000000,1.000000,2019.000000,-2461.000000,-1918.000000,8.150000e+02,-1.262589
25%,8.000000,4.000000,2020.000000,0.000000,0.000000,1.641164e+06,0.210790
50%,16.000000,5.000000,2020.000000,6.000000,0.000000,8.544527e+06,3.329671
75%,23.000000,6.000000,2020.000000,110.000000,2.000000,3.036604e+07,19.243613
max,31.000000,12.000000,2020.000000,78427.000000,4928.000000,1.433784e+09,885.924117

# 4) Explore the data

In [11]:
covid_data_all.shape

(35149, 12)

In [12]:
covid_data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35149 entries, 0 to 35148
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             35149 non-null  object
 1   day              35149 non-null  int64
 2   month            35149 non-null  int64
 3   year             35149 non-null  int64
 4   cases            35149 non-null  int64
 5   deaths           35149 non-null  int64
 6   country          35149 non-null  object
 7   geoId            35001 non-null  object
 8   country_code     35085 non-null  object
 9   population_2019  35085 non-null  float64
 10  continent        35149 non-null  object
 11  cum_case_perht   32368 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 3.2+ MB

# 5) Filter the data

In [13]:
covid_cases_negative=covid_data_all[covid_data_all.cases <0].copy()

In [14]:
covid_cases_negative

,date,day,month,year,cases,deaths,country,geoId,country_code,population_2019,continent,cum_case_perht
3644,20/05/2020,20,5,2020,-209,0,Benin,BJ,BEN,11801151.0,Africa,0.288107
6236,10/03/2020,10,3,2020,-9,1,Cases_on_an_international_conveyance_Japan,JPG11668,NaN,NaN,Other,NaN
9658,12/05/2020,12,5,2020,-50,18,Ecuador,EC,ECU,17373657.0,America,36.083365
9661,09/05/2020,9,5,2020,-1480,50,Ecuador,EC,ECU,17373657.0,America,101.504249
9663,07/05/2020,7,5,2020,-2461,49,Ecuador,EC,ECU,17373657.0,America,106.885960
11668,03/06/2020,3,6,2020,-766,107,France,FR,FRA,67012883.0,Europe,11.785793
16703,20/06/2020,20,6,2020,-148,47,Italy,IT,ITA,60359546.0,Europe,5.765451
17410,22/07/2020,22,7,2020,-110,0,Jordan,JO,JOR,10101697.0,Asia,-0.554362
19490,29/04/2020,29,4,2020,-105,3,Lithuania,LT,LTU,2794184.0,Europe,9.806083
26161,03/05/2020,3,5,2020,-161,16,Portugal,PT,PRT,10276617.0,Europe,53.568212
27683,11/05/2020,11,5,2020,-9,0,San_Marino,SM,SMR,34453.0,Europe,261.225438
30077,25/05/2020,25,5,2020,-372,-1918,Spain,ES,ESP,46937060.0,Europe,16.255812
30113,19/04/2020,19,4,2020,-713,410,Spain,ES,ESP,46937060.0,Europe,116.157680
32805,02/06/2020,2,6,2020,-1,0,Uganda,UG,UGA,44269587.0,Africa,0.445001
32817,21/05/2020,21,5,2020,-115,0,Uganda,UG,UGA,44269587.0,Africa,0.106168

In [15]:
covid_cases_negative.shape

(15, 12)

In [16]:
covid_cases=covid_data_all[covid_data_all.cases >=10].copy() # At least case data should be double digit

In [17]:
covid_cases

,date,day,month,year,cases,deaths,country,geoId,country_code,population_2019,continent,cum_case_perht
0,09/08/2020,9,8,2020,39,5,Afghanistan,AF,AFG,38041757.0,Asia,2.357935
1,08/08/2020,8,8,2020,78,9,Afghanistan,AF,AFG,38041757.0,Asia,2.573488
2,07/08/2020,7,8,2020,41,0,Afghanistan,AF,AFG,38041757.0,Asia,2.652349
3,06/08/2020,6,8,2020,67,4,Afghanistan,AF,AFG,38041757.0,Asia,2.578745
4,05/08/2020,5,8,2020,82,6,Afghanistan,AF,AFG,38041757.0,Asia,2.896817
...,...,...,...,...,...,...,...,...,...,...,...,...
35075,02/06/2020,2,6,2020,25,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,1.072004
35077,31/05/2020,31,5,2020,14,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0.887646
35078,30/05/2020,30,5,2020,11,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0.805710
35079,29/05/2020,29,5,2020,17,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0.764741
35080,28/05/2020,28,5,2020,76,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0.648665

In [18]:
covid_cases_country_count=covid_cases.groupby('country', as_index=False)['cases'].agg(['sum','count'])

In [19]:
covid_cases_country_count

                                                sum  count
country
Afghanistan                                   37010    129
Albania                                        6093    121
Algeria                                       34665    146
Andorra                                         797     33
Angola                                         1301     36
Antigua_and_Barbuda                              39      1
Argentina                                    235633    135
Armenia                                       40153    144
Aruba                                           399      5
Australia                                     20520    136
Austria                                       21899    155
Azerbaijan                                    33425    139
Bahamas                                         740     21
Bahrain                                       43563    145
Bangladesh                                   255043    126
Barbados                                         33      3
Belarus                                       68684    134
Belgium                                       73307    160
Belize                                           89      4
Benin                                          2044     40
Bermuda                                          46      3
Bhutan                                           21      2
Bolivia                                       88965    129
Bosnia_and_Herzegovina                        14013    134
Botswana                                        861     14
Brazil                                      3012390    152
Brunei_Darussalam                                71      6
Bulgaria                                      13322    141
Burkina_Faso                                    896     46
Burundi                                         331     16
Cambodia                                        134      6
Cameroon                                      18544     72
Canada                                       119156    152
Cape_Verde                                     2703     83
Cases_on_an_international_conveyance_Japan      696     13
Cayman_Islands                                   27      2
Central_African_Republic                       4577     66
Chad                                            787     28
Chile                                        371000    150
China                                         88502    169
Colombia                                     376846    146
Comoros                                         312     12
Congo                                          3592     48
Costa_Rica                                    21850    111
Cote_dIvoire                                  16576    125
Croatia                                        5376    100
Cuba                                           2596     89
Cyprus                                          890     38
Czechia                                       18195    152
Democratic_Republic_of_the_Congo               9382    117
Denmark                                       14414    139
Djibouti                                       5126     78
Dominican_Republic                            78767    141
Ecuador                                       97526    135
Egypt                                         95288    146
El_Salvador                                   19901    110
Equatorial_Guinea                              4793     18
Eritrea                                         232     14
Estonia                                        1815     57
Eswatini                                       2914     66
Ethiopia                                      22094     85
Faroe_Islands                                   197      9
Finland                                        7410    114
France                                       198670    148
French_Polynesia                                 12      1
Gabon                                          7858     71
Gambia                                         1026     14
Georgia                                         709     39
Germany                                      215870    164
Ghana                                         40473     97
Gibraltar                                        60      4
Greece                                         5279    126
Guam                                            154     11
Guatemala                                     56099    119
Guernsey                                        172     11
Guinea                                         7834    110
Guinea_Bissau                                  1994     41
Guyana                                          312     19
Haiti                                          7518     87
Honduras                                      46903    127
Hungary                                        4458    109
Iceland                                        1774     43
India                                       2152972    149
Indonesia                                    123497    150
Iran                                         324687    169
Iraq                                         147331    142
Ireland                                       26486    130
Isle_of_Man                                     256     15
Israel                                        82421    148
Italy                                        250248    169
Jamaica                                         629     32
Japan                                         45364    163
Jersey                                          220     11
Jordan                                          949     53
Kazakhstan                                    98656    136
Kenya                                         25700    117
Kosovo                                         9681     97
Kuwait                                        71129    144
Kyrgyzstan                                    39874    127
Latvia                                          914     43
Lebanon                                        5941    103
Lesotho                                         712     18
Liberia                                         956     51
Libya                                          5000     58
Liechtenstein                                    28      2
Lithuania                                      1966     68
Luxembourg                                     6904    101
Madagascar                                    12772     88
Malawi                                         4533     65
Malaysia                                       8862    123
Maldives                                       4820    101
Mali                                           2378     86
Malta                                           655     37
Mauritania                                     6482     48
Mauritius                                       259     13
Mexico                                       475886    149
Moldova                                       27419    143
Mongolia                                        194      8
Montenegro                                     3430     55
Morocco                                       31975    143
Mozambique                                     2066     69
Myanmar                                         146     10
Namibia                                        2703     38
Nepal                                         22539     89
Netherlands                                   57969    159
New_Zealand                                    1048     25
Nicaragua                                      3877     15
Niger                                           870     34
Nigeria                                       46098    134
North_Macedonia                               11720    136
Norway                                         9377    116
Oman                                          81317    130
Pakistan                                     284100    140
Palestine                                     18113     67
Panama                                        73621    147
Papua_New_Guinea                                135      6
Paraguay                                       6495     92
Peru                                         470985    145
Philippines                                  126870    145
Poland                                        51136    150
Portugal                                      52657    149
Puerto_Rico                                   21414    128
Qatar                                        112608    146
Romania                                       60598    151
Russia                                       882328    147
Rwanda                                         1822     67
San_Marino                                      544     32
Sao_Tome_and_Principe                           716     16
Saudi_Arabia                                 287242    148
Senegal                                       10938    131
Serbia                                        27827    146
Seychelles                                       92      3
Sierra_Leone                                   1709     78
Singapore                                     54789    150
Sint_Maarten                                    111      8
Slovakia                                       2340     79
Slovenia                                       2029     80
Somalia                                        3129     76
South_Africa                                 553164    147
South_Korea                                   14491    157
South_Sudan                                    2352     45
Spain                                        315430    150
Sri_Lanka                                      2550     79
Sudan                                         11865     81
Suriname                                       2208     54
Sweden                                        82299    142
Switzerland                                   36297    150
Syria                                          1022     42
Taiwan                                          320     17
Tajikistan                                     7706     93
Thailand                                       3003     48
Timor_Leste                                      12      1
Togo                                            642     36
Trinidad_and_Tobago                             128      5
Tunisia                                        1420     60
Turkey                                       239620    147
Turks_and_Caicos_islands                        117      7
Uganda                                         1140     57
Ukraine                                       79718    140
United_Arab_Emirates                          62270    145
United_Kingdom                               309728    161
United_Republic_of_Tanzania                     457      9
United_States_Virgin_Islands                    428     22
United_States_of_America                    4997985    163
Uruguay                                         920     52
Uzbekistan                                    30158    136
Venezuela                                     24040     97
Vietnam                                         600     24
Western_Sahara                                  753      6
Yemen                                          1647     65
Zambia                                         7752     54
Zimbabwe                                       4441     57

In [20]:
covid_cases_country_count=covid_cases_country_count[covid_cases_country_count['count']>=109].copy() # At least minimum expected value should be 5 for each digit

In [21]:
covid_cases_country_count

                                      sum  count
country
Afghanistan                         37010    129
Albania                              6093    121
Algeria                             34665    146
Argentina                          235633    135
Armenia                             40153    144
Australia                           20520    136
Austria                             21899    155
Azerbaijan                          33425    139
Bahrain                             43563    145
Bangladesh                         255043    126
Belarus                             68684    134
Belgium                             73307    160
Bolivia                             88965    129
Bosnia_and_Herzegovina              14013    134
Brazil                            3012390    152
Bulgaria                            13322    141
Canada                             119156    152
Chile                              371000    150
China                               88502    169
Colombia                           376846    146
Costa_Rica                          21850    111
Cote_dIvoire                        16576    125
Czechia                             18195    152
Democratic_Republic_of_the_Congo     9382    117
Denmark                             14414    139
Dominican_Republic                  78767    141
Ecuador                             97526    135
Egypt                               95288    146
El_Salvador                         19901    110
Finland                              7410    114
France                             198670    148
Germany                            215870    164
Greece                               5279    126
Guatemala                           56099    119
Guinea                               7834    110
Honduras                            46903    127
Hungary                              4458    109
India                             2152972    149
Indonesia                          123497    150
Iran                               324687    169
Iraq                               147331    142
Ireland                             26486    130
Israel                              82421    148
Italy                              250248    169
Japan                               45364    163
Kazakhstan                          98656    136
Kenya                               25700    117
Kuwait                              71129    144
Kyrgyzstan                          39874    127
Malaysia                             8862    123
Mexico                             475886    149
Moldova                             27419    143
Morocco                             31975    143
Netherlands                         57969    159
Nigeria                             46098    134
North_Macedonia                     11720    136
Norway                               9377    116
Oman                                81317    130
Pakistan                           284100    140
Panama                              73621    147
Peru                               470985    145
Philippines                        126870    145
Poland                              51136    150
Portugal                            52657    149
Puerto_Rico                         21414    128
Qatar                              112608    146
Romania                             60598    151
Russia                             882328    147
Saudi_Arabia                       287242    148
Senegal                             10938    131
Serbia                              27827    146
Singapore                           54789    150
South_Africa                       553164    147
South_Korea                         14491    157
Spain                              315430    150
Sweden                              82299    142
Switzerland                         36297    150
Turkey                             239620    147
Ukraine                             79718    140
United_Arab_Emirates                62270    145
United_Kingdom                     309728    161
United_States_of_America          4997985    163
Uzbekistan                          30158    136

In [22]:
covid_cases_country_list=covid_cases_country_count.index.values.tolist()
covid_cases_country_list

['Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Bolivia',
 'Bosnia_and_Herzegovina',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Costa_Rica',
 'Cote_dIvoire',
 'Czechia',
 'Democratic_Republic_of_the_Congo',
 'Denmark',
 'Dominican_Republic',
 'Ecuador',
 'Egypt',
 'El_Salvador',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Guatemala',
 'Guinea',
 'Honduras',
 'Hungary',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Malaysia',
 'Mexico',
 'Moldova',
 'Morocco',
 'Netherlands',
 'Nigeria',
 'North_Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto_Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Saudi_Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'South_Africa',
 'South_Korea',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United_Arab_Emirates',
 'United_Kingdom',
 'United_States_of_America',
 'Uzbekistan']

# 6) Benford's Law First Digit Chi-Square Test Function

In [23]:
def benford_first_digit(country):
    
    covid_cases_test=covid_cases[covid_cases['country']==country].copy()
        
    data=list(covid_cases_test.cases)

    for i in range(len(data)):

        while data[i]>=10:

            data[i]=data[i]/10

    first_digits=[int(x) for x in sorted(data)]

    unique=(set(first_digits))

    data_count=[]

    digits = [1, 2, 3, 4, 5, 6, 7, 8, 9]
              
    for i in digits:

        count=first_digits.count(i)
        
        data_count.append(count)
           
    total_count=sum(data_count)

    data_percentage=[(i/total_count)*100 for i in data_count]
        
    benford = [30.103, 17.6091, 12.4939, 9.691, 7.91812, 6.69468, 5.79919, 5.11525, 4.57575]
    
    expected = [(i * total_count / 100) for i in benford]
    
    chi_square_index = [0, 1, 2, 3, 4, 5, 6, 7, 8]
    
    chi_square = [((data_count[i]-expected[i])**2)/expected[i] for i in chi_square_index]
    
    chi_square_sum = sum(chi_square)
                
    return  chi_square_sum

# Benford's Law First Digit Chi-Square Test Results

In [24]:
benford_covid_cases_results = []
for i in covid_cases_country_list:
    benford_covid_cases_results.append((i, benford_first_digit(i)))                                    
benford_covid_cases_results=pd.DataFrame(benford_covid_cases_results, columns=('country', 'sum_of_chi_square'))
benford_covid_cases_results

                             country  sum_of_chi_square
0                        Afghanistan          19.902845
1                            Albania          24.290613
2                            Algeria          60.606765
3                          Argentina           8.480627
4                            Armenia          49.962258
5                          Australia          16.030227
6                            Austria          19.063969
7                         Azerbaijan          69.772184
8                            Bahrain          53.243931
9                         Bangladesh          58.002261
10                           Belarus         125.283415
11                           Belgium           9.851533
12                           Bolivia          26.260079
13            Bosnia_and_Herzegovina          19.703560
14                            Brazil          24.183536
15                          Bulgaria          17.041140
16                            Canada          25.518793
17                             Chile          48.506231
18                             China           9.166619
19                          Colombia           8.549857
20                        Costa_Rica           9.055033
21                      Cote_dIvoire          23.647140
22                           Czechia           6.331956
23  Democratic_Republic_of_the_Congo          12.634890
24                           Denmark          11.111854
25                Dominican_Republic           5.559643
26                           Ecuador          24.964612
27                             Egypt          31.553467
28                       El_Salvador          13.893760
29                           Finland          14.310716
30                            France          12.921888
31                           Germany          28.566355
32                            Greece          17.652159
33                         Guatemala           8.086939
34                            Guinea          33.395129
35                          Honduras          12.807100
36                           Hungary           6.365701
37                             India           7.616725
38                         Indonesia          25.434537
39                              Iran         170.368120
40                              Iraq          28.863485
41                           Ireland           4.627239
42                            Israel          14.688758
43                             Italy          24.039518
44                             Japan          18.406075
45                        Kazakhstan          18.830749
46                             Kenya          11.265952
47                            Kuwait          75.391745
48                        Kyrgyzstan          14.465607
49                          Malaysia          28.797098
50                            Mexico          31.386175
51                           Moldova          25.876344
52                           Morocco          18.880825
53                       Netherlands          18.639568
54                           Nigeria          40.308261
55                   North_Macedonia          44.131969
56                            Norway           8.926047
57                              Oman          31.272669
58                          Pakistan           8.026094
59                            Panama          38.323531
60                              Peru          75.536481
61                       Philippines          19.887992
62                            Poland         123.269860
63                          Portugal          35.697203
64                       Puerto_Rico          24.901471
65                             Qatar          13.925781
66                           Romania          34.666654
67                            Russia         148.224742
68                      Saudi_Arabia          52.119542
69                           Senegal          79.236398
70                            Serbia          32.375705
71                         Singapore          12.029504
72                      South_Africa          12.944658
73                       South_Korea          17.431390
74                             Spain          25.359235
75                            Sweden          35.445585
76                       Switzerland           9.991094
77                            Turkey         159.861628
78                           Ukraine          60.238447
79              United_Arab_Emirates          61.363678
80                    United_Kingdom          38.698655
81          United_States_of_America          61.833261
82                        Uzbekistan          27.213406

In [25]:
# Here we add covid-19 case sum data.
benford_covid_cases_results=pd.merge(benford_covid_cases_results, covid_cases_country_count[['sum', 'count']], on='country', how='left')

In [26]:
# Here we change column names.
benford_covid_cases_results.rename(columns={'sum':'sum_of_covid_19_cases','count':'count_of_covid_19_reporting_dates'}, inplace=True)

In [27]:
benford_covid_cases_results

,country,sum_of_chi_square,sum_of_covid_19_cases,count_of_covid_19_reporting_dates
0,Afghanistan,19.902845,37010,129
1,Albania,24.290613,6093,121
2,Algeria,60.606765,34665,146
3,Argentina,8.480627,235633,135
4,Armenia,49.962258,40153,144
5,Australia,16.030227,20520,136
6,Austria,19.063969,21899,155
7,Azerbaijan,69.772184,33425,139
8,Bahrain,53.243931,43563,145
9,Bangladesh,58.002261,255043,126
10,Belarus,125.283415,68684,134
11,Belgium,9.851533,73307,160
12,Bolivia,26.260079,88965,129
13,Bosnia_and_Herzegovina,19.703560,14013,134
14,Brazil,24.183536,3012390,152
15,Bulgaria,17.041140,13322,141
16,Canada,25.518793,119156,152
17,Chile,48.506231,371000,150
18,China,9.166619,88502,169
19,Colombia,8.549857,376846,146
20,Costa_Rica,9.055033,21850,111
21,Cote_dIvoire,23.647140,16576,125
22,Czechia,6.331956,18195,152
23,Democratic_Republic_of_the_Congo,12.634890,9382,117
24,Denmark,11.111854,14414,139
25,Dominican_Republic,5.559643,78767,141
26,Ecuador,24.964612,97526,135
27,Egypt,31.553467,95288,146
28,El_Salvador,13.893760,19901,110
29,Finland,14.310716,7410,114
30,France,12.921888,198670,148
31,Germany,28.566355,215870,164
32,Greece,17.652159,5279,126
33,Guatemala,8.086939,56099,119
34,Guinea,33.395129,7834,110
35,Honduras,12.807100,46903,127
36,Hungary,6.365701,4458,109
37,India,7.616725,2152972,149
38,Indonesia,25.434537,123497,150
39,Iran,170.368120,324687,169
40,Iraq,28.863485,147331,142
41,Ireland,4.627239,26486,130
42,Israel,14.688758,82421,148
43,Italy,24.039518,250248,169
44,Japan,18.406075,45364,163
45,Kazakhstan,18.830749,98656,136
46,Kenya,11.265952,25700,117
47,Kuwait,75.391745,71129,144
48,Kyrgyzstan,14.465607,39874,127
49,Malaysia,28.797098,8862,123
50,Mexico,31.386175,475886,149
51,Moldova,25.876344,27419,143
52,Morocco,18.880825,31975,143
53,Netherlands,18.639568,57969,159
54,Nigeria,40.308261,46098,134
55,North_Macedonia,44.131969,11720,136
56,Norway,8.926047,9377,116
57,Oman,31.272669,81317,130
58,Pakistan,8.026094,284100,140
59,Panama,38.323531,73621,147
60,Peru,75.536481,470985,145
61,Philippines,19.887992,126870,145
62,Poland,123.269860,51136,150
63,Portugal,35.697203,52657,149
64,Puerto_Rico,24.901471,21414,128
65,Qatar,13.925781,112608,146
66,Romania,34.666654,60598,151
67,Russia,148.224742,882328,147
68,Saudi_Arabia,52.119542,287242,148
69,Senegal,79.236398,10938,131
70,Serbia,32.375705,27827,146
71,Singapore,12.029504,54789,150
72,South_Africa,12.944658,553164,147
73,South_Korea,17.431390,14491,157
74,Spain,25.359235,315430,150
75,Sweden,35.445585,82299,142
76,Switzerland,9.991094,36297,150
77,Turkey,159.861628,239620,147
78,Ukraine,60.238447,79718,140
79,United_Arab_Emirates,61.363678,62270,145
80,United_Kingdom,38.698655,309728,161
81,United_States_of_America,61.833261,4997985,163
82,Uzbekistan,27.213406,30158,136

# Benfords Law First Digit, First Two Digits, and Second Digit Conformity Tests

In [28]:
!pip install folium
import folium

Requirement already satisfied: folium in c:\programdata\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from folium) (1.18.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: jinja2>=2.9 in c:\programdata\anaconda3\lib\site-packages (from folium) (2.11.1)
Requirement already satisfied: branca>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.25.8)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)

In [29]:
# define the world map
world_map = folium.Map()

# display world map
world_map

In [34]:
world_geo = r'13_world_countries.json' # geojson file

# create a plain world map
world_map = folium.Map(location=[0, 0], zoom_start=2, tiles='Mapbox Bright')
world_map

In [32]:
world_map.choropleth(
    geo_data=world_geo,
    data=benford_covid_cases_results,
    columns=['country', 'sum_of_chi_square'],
    key_on='feature.properties.name',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Immigration to Canada'
)

# display map
world_map

C:\ProgramData\Anaconda3\lib\site-packages\folium\folium.py:415: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
world_geo = r'13_world_countries.json' # geojson file

# create a plain world map
world_map = folium.Map(location=[0, 0], zoom_start=2, tiles='Mapbox Bright')

In [ ]:
# generate choropleth map using the total immigration of each country to Canada from 1980 to 2013
world_map.choropleth(
    geo_data=world_geo,
    data=benford_covid_cases_results,
    columns=['country','sum_of_chi_square'],
    key_on='feature.properties.name',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Benfords Law First Digit Conformity: Sum of Chi-Squarey'
)

# display map
world_map

In [ ]:
country_geo = 'https://github.com/python-visualization/folium/blob/master/examples/data/world-countries.json'
plot_data = benford_covid_cases_results[["country","sum_of_chi_square"]]
map = folium.Map(location=[0, 0], zoom_start=2.0)
map.choropleth(geo_data=country_geo, data=plot_data,
             columns=["country","sum_of_chi_square"],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name="Benford's Law First Digit Conformity: Sum of Chi-Square")
# display map
map